*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Signika Negative', sans-serif;
    background: url(icecream.png);
}
.container{
    width: 1000px;
    margin: 10px auto;
    padding: 10px;
}
.Header{
    overflow: hidden;
    padding: 10px;
    background: url(icecreambg.jpg);
    background-size: 300px;
}
.Header .headerleft{
    width: 300px;
    float: left;
}
.Header .headerleft img{
    width: 175px;
    height: auto; 
}
.Header .headerright{
    float: right;
    width: 500px;
    height: 50px;
    padding-right: 50px;
}
.Header .headerright li{
    list-style: none;
}
.Header .headerright a{
    text-decoration: none;
    color: #df7861;
    padding: 0px 15px;
    line-height: 50px;
    font-size: 20px;
    float: right;
    font-variant: small-caps;

}
.Header .headerright a:hover{
    border-bottom: 2px solid white;
    font-weight: 25%;
}
.banner{
    background: #fff6be;
    margin: 0px auto;
    height: 338px;
    width: 1000px;
}
.banner img{
    width: 1000px;
    height: 338px;
}
.slideshow{
    margin-top: 10px auto;
    background: #ffe0a3;
    width: 1000px;
    padding: 0px auto;
    height: 200px;
    align-content: center;
}
.slideshow .slideshow1{
    width: 150px;
    float: left;
    margin-right: 10px;
    padding-left: 30px;
    padding-top: 25px;
}
.slideshow .slideshow1 a:hover{
    font-weight: 40px;
}
.slideshow .slideshow2{
    width: 150px;
    float: left;
    margin-right: 10px;
    padding: 25px 30px;
}
.slideshow .slideshow3{
    width: 150px;
    float: left;
    margin-right: 10px;
    padding: 25px 30px;
}
.slideshow .slideshow4{
    width: 150px;
    float: left;
    margin-right: 10px;
    padding: 25px 30px;
}
.slideshow .slideshow5{
    width: 150px;
    float: right;
    padding: 25px 0px;
}
.article{
    background: url(ARTICLE.PNG);
    color: khaki;
}
.article h2{
    font-size: 30px;
    text-align: center;
    padding: 30px 60px;
    margin-top: 40px;
    margin-bottom: 0;
}
.article p{
    font-size: 20px;
    text-align: center;
    margin: 0px 40px 30px 40px;
    padding: 0px 40px 30px 40px;
    font-family: 'Times New Roman', Times, serif;
}
.article a{
    color: rgb(232, 140, 240);
    text-decoration: none;
    text-align: center; 
}
.menu{
    background: url(brickwall.png);
    overflow: hidden;
    padding: 30px;
    font-family: 'Tenor Sans', sans-serif;
    
}
.menu h2{
    color:#42240c ;
    text-align: center;
    font-size: 30px;

}
.menu .menuleft{
    float: left;
    padding: 40px;
}
.menu .menuleft h3{
    padding: 10px;
}
.menu .menuleft li{
    list-style-type: none;
    margin: 10px;
}
.menu .menuleft1{
    float: left;
    margin-left: 90px;
    padding: 40px;
}
.menu .menuleft1 h3{
    padding: 0 30px;
}
.menu .menuleft1 li{
    list-style-type: none;
    margin: 10px;
    padding: 0 30px;
}
.menu .menuleft2{
    float: right;
    margin-right: auto;
    margin-top: 40px;
    margin-left: 40px;
}
.menu .menuleft2 h3{
    padding: 0 80px 20px 80px;
}
.menu .menuleft2 li{
    list-style-type: none;
    padding: 0px 80px 10px 80px;

}
.Information{
    background-color: #98d6ea;
    padding: 40px 0px;
    font-family: 'Baloo Chettan 2', cursive;
    
}
.Information .informationleft{
    float: left;
    padding: 20px 20px 0 20px;
    margin: 0 500px 0 20px;
    border: 2px solid white;
    border-radius: 30px;

}
.Information .informationleft h2{
    text-align: center;
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}
.Information .informationleft p{
    text-align: center;
    padding-bottom: 20px;
}
.footer{
    background-color: teal;
    text-align: center;
    color: white;
}


